h1 {
  color: #671814;
  text-align: center;
}

header {
  border-bottom: 2px dotted #671814;
}

.logo {
  height: 50px;
}

.pizza-presentation {
  background-color: #009687;
  background-image: url("/assets/pizza.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
